{% extends 'layout.html' %}

{% block content %}

{% set asteroid_space = namespace(current_asteroid=0) %}

{% for asteroid in asteroid_data %}
{% if asteroid['id'] == current_id %}
{% set asteroid_space.current_asteroid = asteroid %}
{% endif %}
{% endfor %}
{% set current_asteroid = asteroid_space.current_asteroid %}

<link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='css/icons.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type="text/css" />

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <div class="navbar-custom">

        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="dropdown notification-list">
                <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect">
                    <i class="fe-settings noti-icon"></i>
                </a>
            </li>


        </ul>
        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile disable-btn waves-effect">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li>
                <h4 class="page-title-main">{{ current_asteroid['name'] }}</h4>
            </li>

        </ul>
    </div>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Navigation</li>
                    {% for asteroid in asteroid_data %}
                    <li>
                        <a href="{{ url_for('different_asteroid', asteroid_id=asteroid['id']) }}">
                            <i class="mdi mdi-view-dashboard"></i>
                            <span> {{ asteroid['name'] }} </span>
                        </a>
                    </li>
                    {% endfor %}

                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="sortable">
                    <div class="row">
                        <div class="col-md-4">

                            {% if current_asteroid['is_potentially_hazardous_asteroid'] %}
                            <div class="card text-white bg-danger card-draggable">
                                <div class="card-body text-center">
                                    <h4>Potentially Hazardous</h4>
                                </div>
                            </div>
                            {% else %}
                            <div class="card text-white bg-success card-draggable">
                                <div class="card-body text-center">
                                    <h4>Not Potentially Hazardous</h4>
                                </div>
                            </div>
                            {% endif %}

                            <div class="card-box card-draggable card border border-primary">
                                <h4 class="header-title mt-0 mb-1 text-center">Estimated Min. Diameter</h4>
                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-center">
                                        <h3 class="font-weight-normal mb-2">
                                            {{(current_asteroid['estimated_diameter'][session['estimated_diameter']]['estimated_diameter_min']|float)|round(3,
                                            'floor')}}
                                        </h3>
                                        <p class="text-muted mb-1">{{ clean_words(session['estimated_diameter']) }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-box card-draggable card border border-primary">
                                <h4 class="header-title mt-0 mb-1 text-center">Estimated Max. Diameter</h4>
                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-center">
                                        <h3 class="font-weight-normal mb-2">
                                            {{(current_asteroid['estimated_diameter'][session['estimated_diameter']]['estimated_diameter_max']|float)|round(3,
                                            'floor')}}
                                        </h3>
                                        <p class="text-muted mb-1">{{ clean_words(session['estimated_diameter']) }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="card-box card-draggable card border border-secondary">
                                <h4 class="header-title mt-0 mb-1 text-center">Approach Date</h4>
                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-center">

                                        <h3 class="font-weight-normal mb-2">
                                            {{
                                            current_asteroid['close_approach_data'][0]['close_approach_date_full']
                                            }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box card-draggable card border border-secondary">
                                <h4 class="header-title mt-0 mb-1 text-center">Relative Velocity</h4>
                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-center">

                                        <h3 class="font-weight-normal mb-2">
                                            {{(current_asteroid['close_approach_data'][0]['relative_velocity'][session['relative_velocity']]|float)|round(3,
                                            'floor')}}
                                        </h3>
                                        <p class="text-muted mb-1">{{ clean_words(session['relative_velocity']) }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box card-draggable card border border-secondary">
                                <h4 class="header-title mt-0 mb-1 text-center">Miss Distance</h4>
                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-center">

                                        <h3 class="font-weight-normal mb-2">
                                            {{(current_asteroid['close_approach_data'][0]['miss_distance']['kilometers']|float)|round(3,
                                            'floor')}}
                                        </h3>
                                        <p class="text-muted mb-1">{{ clean_words(session['miss_distance']) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-box card-draggable card border border-tertiary">
                                <h4 class="header-title mt-0 mb-1 text-center">Name</h4>
                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-center">

                                        <h3 class="font-weight-normal mb-2">
                                            {{current_asteroid['name']}}
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="card-box card-draggable card border border-tertiary">
                                <h4 class="header-title mt-0 mb-1 text-center">Orbiting Around</h4>
                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-center">

                                        <h3 class="font-weight-normal mb-2">
                                            {{current_asteroid['close_approach_data'][0]['orbiting_body']}}
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="card-box card-draggable card border border-tertiary">
                                <h4 class="header-title mt-0 mb-1 text-center">More Information</h4>
                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-center">

                                        <h3 class="font-weight-normal mb-2">
                                            <a href="#" class="btn btn-secondary">Click Here</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!-- Row -->
                </div><!-- Sortable -->

            </div> <!-- container-fluid -->

        </div> <!-- content -->

        {% include 'footer.html' %}


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i class="dripicons-cross noti-icon"></i>
        </a>
        <h4 class="m-0 text-white">Settings</h4>
    </div>
    <div class="slimscroll-menu">

        <div class="p-3">
            <form id="update_units" action="{{ url_for('update_units') }}" method="post">

                <h5 class="pl-3">Estimated Diameter</h5>
                <hr class="mb-2" />

                {% for key in current_asteroid['estimated_diameter'] %}
                <div class="radio">
                    {% if key == session['estimated_diameter'] %}
                    <input type="radio" name="estimated_diameter" id="estimated_diameter_{{loop.index}}" value="{{key}}"
                        checked>
                    {% else %}
                    <input type="radio" name="estimated_diameter" id="estimated_diameter_{{loop.index}}"
                        value="{{key}}">
                    {% endif %}
                    <label for="estimated_diameter_{{loop.index}}">
                        {{ clean_words(key) }}
                    </label>
                </div>
                {% endfor %}

                <hr class="mb-2" />
                <h5 class="pl-3">Relative Velocity</h5>
                <hr class="mb-2" />

                {% for key in current_asteroid['close_approach_data'][0]['relative_velocity'] %}
                <div class="radio">
                    {% if key == session['relative_velocity'] %}
                    <input type="radio" name="relative_velocity" id="relative_velocity_{{loop.index}}" value="{{key}}"
                        checked>
                    {% else %}
                    <input type="radio" name="relative_velocity" id="relative_velocity_{{loop.index}}" value="{{key}}">
                    {% endif %}
                    <label for="relative_velocity_{{loop.index}}">
                        {{ clean_words(key) }}
                    </label>
                </div>
                {% endfor %}

                <hr class="mb-2" />
                <h5 class="pl-3">Miss Distance</h5>
                <hr class="mb-2" />

                {% for key in current_asteroid['close_approach_data'][0]['miss_distance'] %}
                <div class="radio">
                    {% if key == session['miss_distance'] %}
                    <input type="radio" name="miss_distance" id="miss_distance_{{loop.index}}" value="{{key}}" checked>
                    {% else %}
                    <input type="radio" name="miss_distance" id="miss_distance_{{loop.index}}" value="{{key}}">
                    {% endif %}
                    <label for="miss_distance_{{loop.index}}">
                        {{ clean_words(key) }}
                    </label>
                </div>
                {% endfor %}

                <h3 class="font-weight-normal mb-2">
                    <a href="#" onclick="document.getElementById('update_units').submit()"
                        class="btn btn-secondary">Update Units</a>
                </h3>

            </form>
        </div>
    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>


<script src="{{ url_for('static',filename='js/vendor.js') }}"></script>
<script src="{{ url_for('static',filename='libs/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/pages/draggable.init.js') }}"></script>
<script src="{{ url_for('static',filename='js/app.js') }}"></script>

{% endblock %}